/* ////////// color palette ////////// */
/*
green
	rgba(102, 255, 178, 1)
light blue
	#66daff
	rgba(102, 218, 255, 1)
purple
	#bb99ff
	rgba(187, 153, 255, 1)
*/
/* ////////// fonts ////////// */
@font-face {
	font-family: 'nimavisual';
	src: url('fonts/nimavisual.otf') format('opentype');
}
@font-face {
	font-family: 'orena';
	src: url('fonts/orena.ttf') format('truetype');
}
@font-face {
	font-family: 'ethnocentric';
	src: url('fonts/ethnocentric.ttf') format('truetype');
}
@font-face {
	/* not working */
	font-family: 'moiser';
	src: url('fonts/moiser.ttf') format('truetype');
}
/* ////////// general ////////// */
body {
	background-color: black;
}
body * {
	font-family: courier;
	font-size: 11px;
	color: white;
}
.container {
	margin: 5px;
}
.outer {
	padding: 5px;
	border: 1px solid #66ffb2;
	background-color: rgba(102, 218, 255, .3);
	box-shadow: 0px 0px 50px 3px rgba(102, 255, 178, .5);
}
.inner {
	margin: 5px;
	padding: 5px 8px;
	border: 1px solid #66daff;
	border-radius: 10px;
	background-color: black;
}
.welcome {
}
.notWelcome {
	display: none;
}
/* ////////// header ////////// */
#mainHeader {
	margin-bottom: 10px;
}
#headerTitle {
	text-align: center;
	vertical-align: center;
	font-family: nimavisual, courier;
	font-size: 45px;
	font-weight: bold;
	color: #66daff;
}
/* ////////// infoBody ////////// */
#infoBody.row {
	margin-top: 20px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
/* ////////// instructions ////////// */
#instructions {
	margin-top: 10px;
	font-size: 15px;
}
#instructions .header {
	text-align: center;
	font-size: 18px;
	color: rgba(187, 153, 255, 1);
}
/* ////////// buttons ////////// */
#buttons {
	box-shadow: 0px 0px 50px 8px rgba(102, 218, 255, .5);
	background-color: none;
	border: 1px solid #66daff;
	margin-top: 10px;
	margin-bottom: 10px;
}
#buttons>div {
	padding-top: 30px;
	padding-top: 30px;
	text-align: center;
	vertical-align: center;
}
button {
	height: 50px;
	width: 80%;
	min-width: 40px;
	margin: 10px auto;
	padding: 0px;
	position: center;
	text-transform: uppercase;
	text-align: center;
	vertical-align: center;
	font-size: 10px;
	border: 1px solid #66ffb2;
	background-color: rgba(102, 218, 255, .3);
}
/* ////////// input ////////// */
#inputForm input.form-control {
	float: right;
	width: 60px;
	height: 20px;
	border-color: #bb99ff;
	background-color: black;
	font-size: 12px;
	padding: 0px 5px;
	vertical-align: center;
	color: rgba(102, 255, 178, 1);
}
/* ////////// range ////////// */
#vizRange {
	margin-top: 10px;
	padding: 5px;
	border: 1px solid #66daff;
	box-shadow: 0px 0px 15px 3px rgba(102, 255, 178, .5);
}
.vizSpot {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 3px;
	border: 3px solid #66ffb2;
	color: white;
}
.filled {
	background-color: #df9220;
}
.hit {
	background-color: #ff0065;
	border-color: #ffff66;
}
.miss {
	border-color: #bb99ff;
}
.aim {
	border-color: white;
}
.over {
	border-color: gray;
}
