/* ////////// color palette ////////// */
/*
green
	rgba(102, 255, 178, 1)
light blue
	#66daff
	rgba(102, 218, 255, 1)
purple
	#bb99ff
	rgba(187, 153, 255, 1)
*/
/* ////////// fonts ////////// */
@font-face {
	font-family: 'nimavisual';
	src: url('fonts/nimavisual.otf') format('opentype');
}
@font-face {
	font-family: 'orena';
	src: url('fonts/orena.ttf') format('truetype');
}
@font-face {
	font-family: 'ethnocentric';
	src: url('fonts/ethnocentric.ttf') format('truetype');
}
@font-face {
	/* not working */
	font-family: 'moiser';
	src: url('fonts/moiser.ttf') format('truetype');
}
/* ////////// general ////////// */
body {
	background-color: black;
}
body * {
	font-family: courier;
	font-size: 12px;
	color: white;
}
.container {
	margin: 5px;
}
.outer {
	padding: 5px;
	border: 1px solid #66ffb2;
	background-color: rgba(102, 218, 255, .3);
	box-shadow: 0px 0px 15px 3px rgba(102, 255, 178, .5);
}
.inner {
	margin: 5px;
	padding: 5px 8px;
	border: 1px solid #66daff;
	border-radius: 10px;
	background-color: black;
}
.welcome {
	display: none;
}
/* ////////// header ////////// */
#mainHeader {
	margin-bottom: 10px;
}
#headerTitle {
	text-align: center;
	vertical-align: center;
	font-family: nimavisual, courier;
	font-size: 45px;
	font-weight: bold;
	color: #66daff;
}
/* ////////// report ////////// */

/* ////////// buttons ////////// */
#buttons {
	box-shadow: 0px 0px 15px 3px rgba(102, 218, 255, .5);
	background-color: none;
	border: 1px solid #66daff;
	text-align: center;
	vertical-align: center;
}
button {
	height: 50px;
	width: 50px;
	min-width: 50px;
	margin: 10px auto;
	text-transform: uppercase;
	text-align: center;
	vertical-align: center;
	font-size: 10px;
	border: 1px solid #66ffb2;
	background-color: rgba(102, 218, 255, .3);
}
/* ////////// input ////////// */
form input.form-control {
	float: right;
	margin-right: 5px;
	width: 50px;
	height: 20px;
}
/* ////////// range ////////// */
#vizRange {
	margin-top: 10px;
	padding: 5px;
	border: 1px solid #66daff;
	box-shadow: 0px 0px 15px 3px rgba(102, 255, 178, .5);
}
.vizSpot {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 3px;
	border: 3px solid #66ffb2;
	color: white;
}
.filled {
	background-color: orange;
}
.hit {
	background-color: red;
	border-color: yellow;
}
.miss {
	border-color: #bb99ff;
}
.aim {
	border-color: white;
}
.over {
	border-color: gray;
}
