/* ////////// color palette ////////// */
/*
translucence: a0.3;

green
	rgba(102, 255, 178, 1)
light blue
	#66daff
	rgba(102, 218, 255, 1)
teal (not used yet)
	rgba(117, 219, 212, 1)
*/

/* ////////// fonts ////////// */

@font-face {
	font-family: 'nimavisual';
	src: url('fonts/nimavisual.otf') format('opentype');
}
@font-face {
	font-family: 'orena';
	src: url('fonts/orena.ttf') format('truetype');
}
@font-face {
	font-family: 'ethnocentric';
	src: url('fonts/ethnocentric.ttf') format('truetype');
}
@font-face {
	/* not working */
	font-family: 'moiser';
	src: url('fonts/moiser.ttf') format('truetype');
}

/* ////////// general ////////// */
body {
	max-width: 620px;
	background-color: black;
}
body * {
	font-family: courier;
	color: white;
}

/* ////////// range ////////// */
.label {
/*	display: inline-block;	*/
	display: none;
	width: 40px;
	margin: 2px;
	text-align: center;
	color: #66daff
}
.vizSpot {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 3px;
	border: 3px solid #66ffb2;
	color: white;
}
.filled {
	background-color: orange;
}
.hit {
	background-color: red;
	border-color: yellow;
}
.miss {
	background-color: white;
}
.aim {
	border-color: white;
}

/* ////////// non-range elements ////////// */
#mainHeader {
	height: auto;
	width: auto;
	margin: 3px 3px 12px 3px;
	border: 1px solid #66ffb2;
}
#headerTitle {
	height: auto;
	width: auto;
	margin: 5px;
	padding-top: 4px;
	border: 1px solid #66ffb2;
	text-align: center;
	line-height: 50px;
	font-family: nimavisual, courier;
	font-size: 45px;
	color: #66daff;
}
#report {
	max-width: 400px;
	margin: 10px 3px 10px 3px;
	border: 1px solid #66ffb2;
	background-color: rgba(102, 218, 255, .3);
}
#report>p {
	margin: 10px;
	padding: 10px;
	border: 1px solid #66daff;
	border-radius: 10px;
	background-color: black;
}
button {
/*	display: inline-block;	*/
	height: 46px;
	width: 46px;
	margin: 3px;
	border: 1px solid #66ffb2;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
	background-color: rgba(102, 218, 255, .3);
}