body {
	background-color: black;
	font-family: courier;
}

.vizSpot {
	display: inline-block;
	height: 40px;
	width: 40px;
/*	background-color: black;	*/
	border: 2px solid #66ffb2;
}

.label {
	display: inline-block;
	width: 40px;
	margin: 2px;
	text-align: center;
	color: #66daff
}

.hasDiscs {
	background-color: orange;
}